
/*
 * Icon styles
 */
.tasks-new {
    background: url('images/new.png') no-repeat;
}
.tasks-new-folder {
    background-image: url('images/new_folder.png');
}
.tasks-new-list {
    background-image: url('images/new_list.png');
}
.tasks-delete-task {
    background-image: url('images/delete_task.png');
}
.tasks-delete-list {
    background-image: url('images/delete_list.png');
}
.tasks-delete-folder {
    background-image: url('images/delete_folder.png');
}
